#div1{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #f869d5, #5650de);

}
#div2{
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #f869d5, #5650de);
    margin-top: 48px;
}